* {
    padding: 0;
    margin: 0;
}
.h-box {
    width: 100%;
    box-sizing:border-box; 
    min-width: 320px;
    max-width: 1024px;
}
.h-title {  
    height: 1.2rem;
    line-height: .2rem;
    width: 100%;
    padding: .24rem .3rem;
    box-sizing: border-box;
    background-color: #f3f3f3;
}
.h-ipt {
    position: relative; 
}
.h-ipt input {
    position: absolute;
    width: 90%;  
    top: .08rem;
    height: .68rem;
    border-radius: .68rem; 
    border: none;
    background-color: #fff;
    outline: medium;
}
.h-ipt input::placeholder {
    padding-left: .8rem; 
    font-size: .2rem;
} 
.h-search {
    position: absolute;
    top: .25rem;
    width: .3rem;
    height: .3rem;
    margin-right: .16rem;
    margin-left: .3rem;
} 
.h-cancel {
    float: right;
}
.h-cancel a { 
    font-size: .28rem;
    color: #666666;
    text-decoration: none;
}
.h-tab {
    background-color: #f3f3f3;
}
ul {
    list-style: none;
    overflow: hidden;
    width: 80%;
    margin: auto; 
}
.h-tab li {
    width: 25%;
    height: .78rem;
    line-height: .76rem;
    color: #8c8c8c;
    text-align: center;
    float: left;
    font-size: .32rem;
}
.h-tab .h-active {
    color: #9e100e;
}
.h-searchhot {
    padding: .40rem;
    background: #fff; 
    display: flex;  
    flex-direction: column;
}
.h-hottit {
    color: #262626;
    font-size: .28rem;
}
.h-hotlist {
    margin-top: .3rem;
}
.h-hotlist ul {
    width: 100%;
}
.h-hotlist li {
    float: left;
    max-width: 90%;
    height: .54rem;
    padding: .12rem .24rem;
    margin-right: .20rem;
    margin-bottom: .20rem;
    border-radius: 0.08rem;
    font-size: .26rem;
    color: #666666;
    text-align: center;
    background: #ffffff;   
    border: .01rem solid #bfbfbf;
}
.h-hide { 
    display: none;
}
.h-show {
    display: block;
}
#h-selectcon {
    display: none;
    position: absolute;
    top: .7rem; 
    right: 1rem;
    border-radius: .1rem;
    box-shadow: .02rem .02rem .02rem rgba(170, 170, 170, .5);
}
.h-select {
    position: absolute;
    font-size: .28rem;
    color: #999999;
    right: 1.3rem;
    top: .35rem;
}
.h-selectcon p {
    line-height: 1.3rem;
    width: 2.24rem;
    height: 1.1rem;
    font-size: .3rem;
    color: #666;
    text-align: center; 
    background-color: #fff;
} 
.h-selectcon {
    display: block !important;
} 
.iconfont {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: .1rem solid #999;
    border-right: .1rem solid transparent;
    border-bottom: .1rem solid transparent;
    border-left: .1rem solid transparent;
}